<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/whoami">whoami</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:thisisjammy25@gmail.com">email me!</a></li>
	        		<li><a href="https://github.com/RealJammy">github link</a></li>
				</ul>
			</footer>
			<script src="/scripts/toggle.js"></script>
		</body>
	</html>
